/* Estilo personalizado de la pagina  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/* Paletas de colores a utilizar Escala grises
background: #2D4544; opcion 1  #2D4544 #728CA6  #F6FAF9 #CBE0EF #79C4FF */


/*Propiedades generales del sitio */

*{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: row wrap;
    background: #F6FAF9;    
}
header{
    background: #212529;
    color:white;
    width: 100%;
    position: fixed;
    z-index: 11;
    }
footer{
    display: flex;
    align-self: flex-end;
    background: #212529;
    color: white;
    width: 100%;
    height: 45px;
}

p{
    color:#495057
}

.dSection{
        display: flex;
        align-self: center;
        justify-content: center;
        margin-top: 1%;
        margin-bottom: 3%;
        width:100%;
        font-family: 'Open Sans', sans-serif;
}   

.description{
    display: flex;
    flex-flow: row wrap;
    width: 40%;
}

/* Propiedades del header */

.navSection{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

}

header .bgNav{
    background:#212529;
    margin-right: 0%;
}

header .logo {    
    margin-left: 0%;
}

 /* Propiedades del contenedor principal de la pagina*/
 .principal{
    display: flex;
    flex-flow: row wrap;
    margin-top: 4%;
    width: 100%;
    background: white;
} 
.principal .news{
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 2%;
}   
.principal .trends{
    display: flex;
    flex-flow: row nowrap ;
    align-items: stretch;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.principal .series{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}
.principal .contact{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;

}

/* Propiedades de la seccion nuevo */
.news .movie{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 49%;
            margin-left:0%;
            margin-right: 1%;            
}

.description .list{
        display: inline-flex;
 }

 .list li {
    padding: 5px;
    color:#3b5bdb;    
}

.image{
    width: 100%;
    height: 100%;     
}

/* Propiedades de la seccion  tendencias */

.trendBox{
    display: flex;
    flex-flow: column wrap;
    width: 34%;
}

.trendTitle{
    display: flex;
    align-self: center;
    margin-top: 4%;

}

.fixed{    
        width: 100%;
        object-fit: cover;
        height: 600px;
    }

/*Propiedades de la seccion series y peliculas*/
.imageCarousel{
    max-width: 100%;
    width: auto;
    height: 35vw;            
}
/*Propiedades de la seccion contacto*/

.contact .contacForm{
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
}

.buttonDisplay{
                align-self: center;

}

/*Web responsive para celulares*/
@media all and (max-width:768px){

/* Propiedades generales del sitio para mobile */

.dSection{
    padding: 5%;
    margin: 0%;
}


/*Propiedades del contenedor principal  */
.principal {
        flex-flow: column wrap;
        margin-top: 10%;
}

/*Propiedades de la seccion news*/

.principal .news{
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

.news .movie{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

}

.news .description{
    flex-flow: row wrap;
    align-content: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Propiedades de la seccion trends */

.principal .trends{

    flex-flow: column wrap;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

.trendBox{
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}
.trendTitle{
    margin-top: 1%;
    margin-bottom: 3%;
}
/* Pripiedades para la seccion series y peliculas */







/* Propiedades para la seccion contacto */


.principal .contact{
    display: flex;
    flex-flow: column wrap;

}

.contactDescription{
        display: flex;
        align-self: flex-start;

}

/*Web responsive para tablets*/